body {
  font-family: "IRANSans", serif;
  direction: rtl;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $text-dark-color;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

.p-0 {
  padding: 0 !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.mr-1 {
  margin-right: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.br-none {
  border-right: none;
}


.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.color-primary {
  color: $main-color !important;
}

.color-grey {
  color: $light-grey !important;
}

.vertical-align-middle {
  vertical-align: middle;
}

.justify-content-center {
  justify-content: center !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-red {
  color: $main-color !important;
}

.text-green {
  color: $green-color !important;
}

.align-items-center {
  align-items: center;
}

.d-ltr {
  direction: ltr !important;
}

.pr {
  position: relative;
}

.error-page {
  min-height: calc(100vh - 136px);
  padding: 2rem 1rem;

  .status-code {
    text-align: center;
    font-size: calc(4vh + 4vw + 0.6vmin);
    color: $red-color;
  }
}

h3.page-title {
  @include font-size(16px);
  color: $main-color;
  font-weight: normal;
}

.rtl-scrollbar {

  & > div:first-child {
    margin-right: 10px !important;
    width: calc(100% + -3px);
    padding-left: 0;
    margin-left: 0;
    overflow-x: hidden !important;
    margin-bottom: 0 !important;
    padding-right: 10px;
    box-sizing: content-box;
  }

}

.main-rtl-scrollbar {

  & > div:first-child {
    margin-right: 0 !important;
    box-sizing: content-box;
    width: calc(100% + 18px);
    padding-left: 18px;
    margin-left: -18px;
    overflow-x: hidden !important;
    margin-bottom: 0 !important;
  }
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.clearfix {
  @extend %clearfix
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  &.mb-3 {
    margin-bottom: 3rem;
  }

  .pagination-item {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    font-weight: 900;
    @include font-size(16px);
    text-decoration: none;
    color: $text-dark-color;
    border-radius: 5px;
    @include main-shadow();
    margin: 0 .3rem;
    transition: 0.2s;

    &.more {
      cursor: context-menu;
    }

    &:not(.more):hover {
      background: $main-color;
      color: #fff;
    }

    &.current {
      background: $main-color;
      color: #fff;
      cursor: context-menu;
    }
  }

  &.small {

    .pagination-item {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-weight: 700;
      @include font-size(14px);
      margin: 0 .3rem;
      transition: 0.2s;
    }
  }
}

.none-content {
  text-align: center;
  color: $text-light-color;
  padding: 0;

  .text {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.page {
  background: $ultra-light-grey;
  background: #ffffff;
  // min-height: calc(100vh - 136px);
  padding: 1rem;
}

@media all and (max-width: 1199px) {
}

@media all and (max-width: 991px) {
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 575px) {
}
