@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin bp-xlarge {
  @media only screen and (max-width: 74.938em) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (max-width: 61.938em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 48em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 35.938em) {
    @content;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

%clearfix {

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@include keyframes(rotate-360) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}

@mixin main-shadow($opacity: 0.2) {
  //box-shadow: 0 3px 28px 2px rgba(190, 0, 0, $opacity);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, $opacity)
  //border: 1px solid $light-grey;
}

@mixin sharp-dark-shadow($opacity: 0.4) {
  box-shadow: 0 2px 8px 0 rgba(79, 79, 79, $opacity)
}