$ultra-light-main-color: #ffe0ed;
$light-main-color: lighten(#06d96f, 20);
$main-color: #be0000;
$dark-main-color: darken(#06d96f, 20);

$ultra-light-secondary-color: #05d3bb;
$secondary-color: #05d3bb;
$light-secondary-color: #05d3bb;

$dark-color: #30322f;
$light-color: #fff;

$ultra-light-grey: #eaeaea;
$light-grey: #cdcdcd;
$grey-color: #909090;
$dark-grey: #818181;

$blue-color: #2185d0;
$green-color: #0db285;
$red-color: #db2828;

$text-dark-color: #4f4f4f;
$text-light-color: #a3a3a3;

$circle-radius: 50%;
$main-radius: 30px;
$half-radius: 15px;
$tiny-radius: 5px;
$mini-radius: 3px;

$main-font-size: 16px;
$btn-font-size: 12px;
$mini-font-size: 12px;